#head{
	text-align:center;
	color: #FE2E2E;
}

td.blank{
	padding-left:150px;
}

body{
	background-image:url("background.jpg");	 	
	background-size:cover;
}

td{
	padding:9px;
	border: 4px groove transparent;
}

td:hover{
	border: 4px groove #FE2E2E;
}

img.images{
	width:145px;
	height:215px;
}
td.blank
{
border:none;
}
table.center{
	margin-left:auto;
	margin-right:auto;
}
h1
{
color: black;
text-align: center;
}

#menubar body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}


div {
    -webkit-transition: width 2s, height 4s; 
    transition: width 2s, height 4s;
}

div:hover {
    width: 300px;
    height: 600px;
}